<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/index.css">
    <title>Path Form</title>
</head>
<body>

  <div class="container">
    <form class="form-box" id="form">
      
      <h2>Enter Path</h2>

      <div class="input-group">
        <label for="path">Path</label>
        <input type="text" id="path" name="path" placeholder="Enter your path">
        <small class="error-message" id="error_message"></small>
      </div>

      <button type="submit">Submit</button>

    </form>
  </div>

  <script src="./js/index.js"></script>
</body>
</html>